 <div id="news" class="latestnews" >
<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Hot Topic<span style="color: #ffffff">
						News</span></h2>
					<div class="border-meghna"></div>
				</div>
   <div class="news">				
	<div class="newsbox">
		<div class="thumb-c">
			<img  class="thumb" src="/jitceo.jpg">
		</div>
		<div class="info" >
			<h4>News Title</h4>
			<p>10.12.2021</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam dolores voluptas nisi expedita quos eligendi ratione fugiat sit, quis dolorem numquam veniam illo quia laboriosam iusto consequuntur repudiandae. Natus, soluta.</p>
		</div>
	</div>
	<div class="newsbox">
		<div class="thumb-c">
			<img  class="thumb" src="/jitceo.jpg">
		</div>
		<div class="info" >
			<h4>News Title</h4>
			<p>10.12.2021</p>
			<p>summary news </p>
		</div>
	</div>
	<div class="newsbox">
		<div class="thumb-c">
			<img  class="thumb" src="/jitceo.jpg">
		</div>
		<div class="info" >
			<h4>News Title</h4>
			<p>10.12.2021</p>
			<p>summary news </p>
		</div>
	</div>
	</div>
</div>