{{ define "main" }}


{{ partial "navigation.html" . }}

<style type="text/css">
	@charset "UTF-8";




h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
    font-weight: bold;
    font-size: 1em;
  text-align: left;
  color: #185875;
}
.bg{
  background-image: url(/exchangerate.webp);
    
    
  /* Center and scale the image nicely */
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container td {
    font-weight: normal;
    font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }
.container td:nth-child(2) { color: #FF8C00; }
.container td:nth-child(3) { color: #FF8C00; }
.container td:nth-child(4) { color: #FF0000; }
.container td:nth-child(5) { color: #FF0000; }
.container td:nth-child(6) { color: #32CD32; }
.container td:nth-child(7) { color: #32CD32; }


.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}


.warclock{
  display: block;
  width: 100%;
  height: 400px;
  
  padding: 40px;
  background-color: #ffffff00;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.lab{
    display: inline-block;
    text-align: right;
    float: left;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 20px;
    
}
.icn{
  width: 40px;
  height: auto;
}
.tbl{
  width: 100%;
  position: relative;
  overflow: scroll;
}
.currency-flag-sm {
  width: 26px;
  height: 20px;
  margin: 5px;
}
</style>
<section class="bg">
<h1></h1> 
    <!-- table for showing data -->
    <br>
    <br>
    <br>
    <div class="warclock ">
    <h4 style="font-size: 60px;">Exchange Rate</h4>  
    <label id="USD" style="font-size:4vw; color: #FF8C00" class="lab"></label>
    <label id="EURO" style="font-size:4vw; color: #FF0000"  class="lab"></label>
    <label id="PLB"style="font-size:4vw; color: #32CD32" class="lab"></label>
    </div>
    <div class="tbl"> 
      

    <table id="employees" class="table table-dark container"></table> 
    </div>
</section>

<script type="text/javascript">
var usd = 0; 
const rate = "https://openexchangerates.org/api/latest.json?app_id=ee8187b55c2b4d74b204cc39d5269293";	
getapi(rate);
async function getapi(url){
const response = await fetch(url); 
  
  // Storing data in form of JSON 
  var exrate = await response.json(); 
  
  if (response) { 
     
  } 
  showRate(exrate); 
	
}
function showRate(exrate){
  usd = parseFloat(exrate.rates.MMK).toFixed(2);
	document.getElementById("USD").innerHTML ="1 USD  =  " + usd + "MMK";
  
  let tab = 
    `<tr> 
    <th>Currency</th> 
    <th>Exchange Rate</th> 
   
    </tr>`; 
  var rt = exrate.rates;
  for (var key in rt) {
   
  var cu = rt[key];
  var er  = parseFloat(usd * (1/cu)).toFixed(2);
  tab += `<tr> 
  <td>${key} <img class="currency-flag-sm" src="/flags/${key.toLowerCase()}.png" /> </td> 
  <td>  ${er} MMK </td> 
</tr>`; 
}
document.getElementById("employees").innerHTML = tab; 
}
</script>

{{ partial "contact.html" . }}
{{ end }}